@{
    ViewBag.Title = "About";
}

<div class="jumbotron" style="background-color:rgba(98, 172, 252, 0.76); color:#ffffff">
    <h2>@ViewBag.Title</h2>
</div>
    <p style="margin:50px">This blog has been created to train development skills in ASP .NET MVC Environment. <br />
    This is my first ever project developed in this technology </p>

