@{
    ViewBag.Title = "Contact";
}
<div class="jumbotron" style="background-color:rgba(98, 172, 252, 0.76); color:#ffffff">
    <h2>@ViewBag.Title</h2>
</div>

<address style="margin:50px">
    ul. Powstańców Śląskich 120 m 12<br />
    53-333 Wrocław<br />
    505 872 708<br />
    peczek.mateusz@gmail.com<br />
</address>

<address style="margin:50px">
    <strong>Support:</strong>   <a href="mailto:peczek.mateusz@gmailcom">peczek.mateusz@gmail.com</a><br />
</address>