@{
    ViewBag.Title = "Contact";
}
<div class="jumbotron" style="background-color:rgba(98, 172, 252, 0.76); color:#ffffff">
    <h2>@ViewBag.Title</h2>
</div>

<address style="margin:50px">
    ul. Jakaśtam<br />
    Cośtam 00-000 Gdzieśtam<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address style="margin:50px">
    <strong>Support:</strong>   <a href="mailto:matthew1011@gmailcom">matthew1011@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>